.feedback__title{
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
}
.feedback__buttonItemsBox{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feedback__buttonItem{
    display: block;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    background-image: linear-gradient(
        45deg,
        hsl(153deg 41% 42%) 0%,
        hsl(149deg 37% 45%) 13%,
        hsl(144deg 33% 47%) 25%,
        hsl(140deg 30% 50%) 37%,
        hsl(134deg 30% 53%) 50%,
        hsl(129deg 29% 55%) 63%,
        hsl(122deg 29% 58%) 75%,
        hsl(115deg 31% 59%) 87%,
        hsl(109deg 33% 60%) 100%
        );
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
}
.feedback__buttonItem:hover{
    background-color: #fff;
}